@model FirmaOnKayit.Models.Sayfa4Model

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="off panel-title">ÜRÜN PORTFÖYÜ VE GTİP'LERİ</h3>
    </div>
    <div class="panel-body">
        Sicil Tasdiknamesi
        <input type="file" id="upload1" name="file1" />
        <br />
        Sicil Gazetesi
        <input type="file" id="upload2" name="file2" />
        <br />
        İmza Sirküleri
        <input type="file" id="upload3" name="file3" />

    </div>
</div>






